/* CSS Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Hero Section */
.hero {
  background-image: url("../images/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
}