/* CSS Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* Element selectors */
body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: #FFF;
  font-size: 4.5rem;
}
p {
  color: #8f8f8f;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
}


/* 
------------------------------
Sections 
------------------------------
*/

/* Containers */
.container-fluid {
  padding: 7% 14%;
}
header .container-fluid {
  padding: 3% 14%;
}
.slogan-container {
  padding: 0 0 8rem;
}
.about-box-container {
  padding-top: 4rem;
}


/* Headings */
.big-heading {
  padding: 0 0 3rem 0;
  line-height: 1.5;
}
.online {
  background-color: #3e2ecf;
  padding: 0 20px;

}
.title {
 font-size: 3rem;
 font-weight: 700;
 line-height: 1.5;
}

/* Header Section */
.header-section {
  /* background-image: linear-gradient(#3A98B9, #FFF1DC); */
  background-image: linear-gradient(#004AAD, #5DE0E6);
}

/* Navigation Bar */
.navbar {
  padding: 0 0 8rem;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 00;
}
.navbar-nav .nav-link:hover {
  color: #da9151
}

/* About Section */
.fa-about-icon{
  background: -webkit-linear-gradient(#004AAD, #5DE0E6);
  background: linear-gradient(#004AAD, #5DE0E6);
  /* Set the background clip property to "text", which means that the background gradient will only be applied to the text inside the element. */
  -webkit-background-clip: text;
  background-clip: text;
  /* Set the text fill color property to "transparent", which makes the text inside the element transparent so that the background gradient can show through. */
  -webkit-text-fill-color: transparent;
  padding: 0 0 1rem;
} 

/* Projects Section */
.projects-section {
  background-color: #E8D5C4;
}

/* Contact Section */
.field {
  padding: 1rem;
} 

/* Footer Section */
.footer-section {
  background-color: rgb(106, 106, 106);
  color: antiquewhite;
}
